OPCODE ADDMM &m1,&m2,&m3
    LXI SP, &m1
    MOV D, A
    PUSH D
    PUSH B
    LDA &m2
    MOV B, A
    LDA &m3
    ADD B
    STA &m2
    POP B
    POP D
    MOV A, D
OPEND

OPCODE ADDMR &m1,&m2
    LXI SP, &m1
    MOV D, A
    PUSH D
    MOV B, A
    LDA &m2
    ADD B
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE ADDVV &m1,&m2,v1,v2
    LXI SP, &m1
    MOV D, A
    PUSH D
    MVI A, 0
    ADI v1
    ADI v2
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE ADDVR &m1,&m2,v1
    LXI SP, &m1
    MOV D, A
    PUSH D
    LDA &m2
    ADI v1
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE SUBMM &m1,&m2,&m3
    LXI SP, &m1
    MOV D, A
    PUSH D
    PUSH B
    LDA &m2
    MOV B, A
    LDA &m3
    SUB B
    STA &m2
    POP B
    POP D
    MOV A, D
OPEND

OPCODE SUBMR &m1,&m2
    LXI SP, &m1
    MOV D, A
    PUSH D
    MOV B, A
    LDA &m2
    SUB B
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE SUBVV &m1,&m2,v1,v2
    LXI SP, &m1
    MOV D, A
    PUSH D
    MVI A, 0
    ADI v1
    SBI v2
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE SUBVR &m1,&m2,v1
    LXI SP, &m1
    MOV D, A
    PUSH D
    LDA &m2
    SBI v1
    STA &m2
    POP D
    MOV A, D
OPEND

OPCODE MINM &m1,&m2
    LDA &m1
    MOV B, A
    LDA &m2
    CMP B
    JNC smaller
    STA &m1
    HLT
    smaller: MOV A, B
             STA &m1
OPEND

OPCODE MAXM &m1,&m2
    LDA &m1
    MOV B, A
    LDA &m2
    CMP B
    JC greater
    STA &m1
    HLT
    greater: MOV A, B
             STA &m1
OPEND

OPCODE MINMM &m1,&m2,&m3
    LDA &m1
    MOV B, A
    LDA &m2
    MOV D,A
    LDA &m3
    CMP B
    JNC smaller
    CMP D
    JNC smallest
    STA &m1
    HLT
    smaller: MOV A, B
             CMP D
             JNC smallest
             STA &m1
             HLT
    smallest: MOV A, D
              STA &m1
              
OPEND

OPCODE MAXMM &m1,&m2,&m3
    LDA &m1
    MOV B, A
    LDA &m2
    MOV D,A
    LDA &m3
    CMP B
    JC greater
    CMP D
    JC greatest
    STA &m1
    HLT
    greater: MOV A, B
             CMP D
             JC greatest
             STA &m1
             HLT
    greatest: MOV A, D
              STA &m1
OPEND

OPCODE SWP &m1,&m2
    LDA &m1
    MOV B, A 
    LDA &m2
    STA &m1 
    MOV A, B
    STA &m2
OPEND   

OPCODE MUT &m1, &m2
    LXI SP, &m1
    MOV A, D
    PUSH D
    ADDMM &m2, &m2
    POP D
    MOV D, A
OPEND

